@model HomeViewModel

@*<partial name="_Carousel" />*@

<img src="~/images/ChristmasHeader.jpg" id="cmasHeaderImg" />
<h2>Stock Update!</h2>
<p>Good news! We promised Christmas trees and decor, and they're almost here! They will be in stores 2024!</p>